---
// Component Imports
import '../styles/global.css'
import { SendToAttractScreen } from '../components/SendToAttractScreen'
import DinosaurFootprintViewer from '@/components/dinosaur-footprint-viewer'
import FunFactDrawer from '@/components/FunFact'
import type { contentData } from '@/data/contentData'
interface Props {
    title: string
}

const { title } = Astro.props
const { pathname } = new URL(Astro.request.url)
const selectedFootprint =
    pathname === '/'
        ? 'sauropod'
        : (pathname.slice(1) as keyof typeof contentData)
---

<html lang="en" title={title}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <style>
            html,
            body {
                margin: 0;
                [data-vaul-drawer] > :first-child {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <main class="font-archivo">
            <SendToAttractScreen client:visible />
            <DinosaurFootprintViewer
                selectedFootprint={selectedFootprint}
                client:visible
            />

            <slot />
        </main>
    </body>
</html>
