---
// Component Imports
import '../styles/global.css'
import { SendToAttractScreen } from '../components/SendToAttractScreen'
interface Props {
    title: string
}

const { title } = Astro.props
---

<html lang="en" title={title}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <style>
            html,
            body {
                margin: 0;
                overflow-y: hidden;
                [data-vaul-drawer] > :first-child {
                    display: none;
                }
                [data-vaul-drawer] {
                    animation-duration: 1.5s;
                }
            }
        </style>
    </head>
    <body>
        <main class="font-archivo">
            <SendToAttractScreen client:load />
            <slot />
        </main>
    </body>
</html>
